@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
		@font-face {
            font-family: 'Ysabeau';
            src: url('/fonts/YsabeauOffice-Regular.ttf');
            font-weight: 400;
        }

        @font-face {
            font-family: 'Ysabeau';
            src: url('/fonts/YsabeauOffice-Medium.ttf');
            font-weight: 500;
        }

        @font-face {
            font-family: 'Ysabeau';
            src: url('/fonts/YsabeauOffice-Bold.ttf');
            font-weight: 700;
        }  
}
